# machine Machine
# etcd_cluster EtcdServerCluster
# etcd EtcdServer

{% include "common/common_head.py.j2" %}
{% import 'common/ssh_help.py.j2' as ssh_help %}

{{ ssh_help.invoke_shell("ssh_client", machine) }}


# docker run -d --network my-network --name {{etcd.name}} --mount type=volume,src=tcy_code,dst=/root/code --mount type=volume,src=tcy_build,dst=/root/build --mount type=volume,src=tcy_zone,dst=/root/zone --mount type=bind,src=/root/tmp,dst=/root/tmp  lxl_debian etcd


with IndentHelp():
    cmds = []
    with IndentHelp():
        ct_name = "ct_{}".format(random.randint(1, 99999999))
        mount_volumes = []
        cmds.append("docker run {opt} --name {name} --network {network} {mount_volumes} {image} {command}".format(
            opt="-itd", name=ct_name, network="my-network",  mount_volumes ="".join(mount_volumes), image="lxl_debian", command="/bin/bash"))
        print("cmds", cmds)

