# machine Machine
# etcd_cluster EtcdServerCluster
# etcd EtcdServer

{% include "common/common_head.py.j2" %}
{% import 'common/ssh_help.py.j2' as ssh_help %}
{% import 'common/docker_help.py.j2' as docker_help %}

{{ ssh_help.invoke_shell("ssh_client", etcd.locate_machine) }}


# docker run -d --network my-network --name {{etcd.name}} --mount type=volume,src=tcy_code,dst=/root/code --mount type=volume,src=tcy_build,dst=/root/build --mount type=volume,src=tcy_zone,dst=/root/zone --mount type=bind,src=/root/tmp,dst=/root/tmp  lxl_debian etcd

{% set test_cmd = [ docker_help.cmd_mkdir_volume_used(etcd.db_path),  ] %}
{{ docker_help.exec_cmds(etcd.locate_machine, "lxl_debian", test_cmd, network=etcd.docker_net, volumes=zone.fo_used_volume_map.values()) }}


# docker run --name {{etcd.name}} {{ docker_help.opt_network(etcd.docker_net) }} \
#    {{ docker_help.opt_ip(etcd.docker_ip) }} {{ docker_help.opt_mount(etcd.db_path.docker_volume) }} \
#    {{ etcd.image }} ls -al

{{ docker_help.run_container(etcd.locate_machine, etcd.name, etcd.image, "ls -al", opt="", volumes=zone.fo_used_volume_map.values(), network=etcd.docker_net, net_used=etcd.docker_ip) }}