
# machine Machine
{% macro invoke_shell (machine) -%}

ssh_client = paramiko.SSHClient()
ssh_client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh_client.connect(hostname="{{machine.ip}}", port="{{machine.ssh_port}}", username="{{machine.ssh_user}}", \
    pkey=paramiko.RSAKey.from_private_key_file(r"{{machine.private_key_file}}", "{{machine.ssh_pwd}}"))
shell = ssh_client.invoke_shell()


{%- endmacro -%}