# machine Machine
# server GameServer

{%- import 'common/ssh_help.py.j2' as ssh_help %}
{%- import 'common/docker_help.py.j2' as docker_help %}
{%- import 'common/etcd_help.py.j2' as etcd_help %}

{%- include "common/common_head.py.j2" %}

{% set ssh_client = "ssh_client" %}
{{ ssh_help.invoke_shell(ssh_client, server.locate_machine) }}

ret, out_txt, error_txt = paramiko_ssh_cmd({{ssh_client}}, [
    "docker container logs {{ server.server_name }}",
])
print("docker exec: run cmd succ, exit_code is {0}\nstd_out is {1}\nstd_error is {2}\n-------------\n".format(ret, out_txt, error_txt))