# zone Zone
# server GameServer

<?xml version="1.0" encoding="UTF-8"?>
<root>
	<zone>{{zone.name}}</zone>
	<server_role>{{server.server_role}}</server_role>
	<server_name>{{server.server_name}}</server_name>

	<etcd_server>
		<element>for_make_array</element>
		<element>for_make_array</element>
{%- for k, v in server.etcd_cluster_map.items() %}
		<element>
			<name>{{ k }}</name>
			<host>{{ v.fo_game_server_hosts }}</host>
			<user>{{ v.user }}</user>
			<pwd>{{ v.pwd }}</pwd>
		</element>
{%- endfor %}		
	</etcd_server>

	<redis_service>
		<element>for_make_array</element>
		<element>for_make_array</element>
{%- for k, v in server.redis_cluster_map.items() %}
		<element>
			<name>{{k}}</name>
			<is_cluster>1</is_cluster>
			<host>{{ v.fo_comma_separate_all_hosts }}</host>
			<pwd>{{ v.pwd }}</pwd>
			<thread_num>3</thread_num>
			<cnn_timeout_ms>3000</cnn_timeout_ms>
			<cmd_timeout_ms>3000</cmd_timeout_ms>
		</element>
{%- endfor %}
	</redis_service>

	<mongo_service>
		<element>for_make_array</element>
		<element>for_make_array</element>
{%- for k, v in server.mongo_cluster_map.items() %}
		<element>
			<name>{{ k }}</name>
			<host>{{ v.mongos_server_list[1].docker_ip.fo_ip}}:{{ v.mongos_server_list[1].client_port }}</host>
			<auth_db>{{ v.user_list[1].role.db }}</auth_db>
			<user>{{ v.user_list[1].name }}</user>
			<pwd>{{ v.user_list[1].pwd }}</pwd>
			<thread_num>3</thread_num>
		</element>
{%- endfor %}
	</mongo_service>

	<advertise_peer_ip>{{ server.docker_ip.fo_ip }}</advertise_peer_ip>
	<advertise_peer_port>{{ server.peer_port }}</advertise_peer_port>
	<advertise_client_ip>{{ server.client_net_add.fo_ip }}</advertise_client_ip>
	<advertise_client_port>{{ server.client_net_add.fo_port }}</advertise_client_port>
	<advertise_http_ip>{{ server.http_net_add.fo_ip }}</advertise_http_ip>
	<advertise_http_port>{{ server.http_net_add.fo_port }}</advertise_http_port>

{%- for k, v in server.remote_server_map.items()%}
    <{{ k }}_ip>{{v.ip}}</{{ k }}_ip>
    <{{ k }}_port>{{v.port}}</{{ k }}_port>
{% endfor -%}
</root>



