{% for elem in sentence_list %}
- {{elem.content|set_link}}
> {{elem.translation}}
{% endfor %}

### RAW WORDS
{%- for elem in raw_word_list %}
{{elem.word|set_link}} {% for i in range(0, 64-elem.word|length) -%} &nbsp {%- endfor %} {{elem.translation|replace("\n", ";")}}
{%- endfor %}

<!--__date__
{{date}}
__date__-->

<!--__sentence__
{%- for elem in sentence_list %}
{{elem.content}}
========== Content And Translate  ==========
{{elem.translation}}
========== GGGGGGGG  ==========
{%- endfor %}
__sentence__-->

<!--__raw_word__
{%- for elem in raw_word_list %}
{{elem.word}}
{%- endfor %}
__raw_word__-->

