
{% macro start_cmd (etcd_cluster, etcd) -%}
etcd --name {{etcd.name}} --data-dir {{etcd.db_path.fo_abs_path}} --listen-peer-urls http://0.0.0.0:{{etcd.peer_port}} --listen-client-urls http://0.0.0.0:{{etcd.client_port}} --initial-advertise-peer-urls http://{{etcd.docker_ip.fo_ip}}:{{etcd.peer_port}} --advertise-client-urls http://{{etcd.docker_ip.fo_ip}}:{{etcd.client_port}}  --log-output stdout --initial-cluster-token '{{etcd_cluster.cluster_token}}' --initial-cluster {{etcd_cluster.fo_initial_cluster}}
{%- endmacro -%}

{% macro etcdctl_cmd (etcd_cluster, is_auth, cmd) -%}
{%- if is_auth -%}
    etcdctl  --username {{etcd_cluster.user}}:{{etcd_cluster.pwd}} --endpoints {{etcd_cluster.fo_end_points}} {{cmd}}
{%- else -%}
    etcdctl --endpoints {{etcd_cluster.fo_end_points}} {{cmd}}
{%- endif -%}
{%- endmacro -%}