
{% macro mongodb_start_cmd (mongo_cluster, mongodb) -%}
    mongod --{{mongodb.cluster_role}} --replSet {{mongodb.repl_set_name}}  --bind_ip 0.0.0.0 --port {{mongodb.client_port}} --dbpath {{mongodb.db_path.fo_abs_path}} --logpath {{mongodb.log_path.fo_abs_path}}
{%- endmacro -%}

{# mongod --configsvr --replSet rs_cfg  --bind_ip 0.0.0.0 --port 27019 --dbpath /shared/tmp/mongodb/rs_cfg_1/db --logpath /shared/tmp/mongodb/rs_cfg_1/log.txt #}