
# machine Machine
{% macro invoke_shell (ssh_client_name, machine) -%}

{{ssh_client_name}} = None
with IndentHelp():
    {{ssh_client_name}} = paramiko.SSHClient()
    {{ssh_client_name}}.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    {{ssh_client_name}}.connect(hostname="{{machine.ip}}", port="{{machine.ssh_port}}", username="{{machine.ssh_user}}", \
        pkey=paramiko.RSAKey.from_private_key_file(r"{{machine.private_key_file}}", "{{machine.ssh_pwd}}"))

# docker run -d --network my-network --name tcy --mount type=volume,src=tcy_code,dst=/root/code --mount type=volume,src=tcy_build,dst=/root/build --mount type=volume,src=tcy_zone,dst=/root/zone --mount type=bind,src=/root/tmp,dst=/root/tmp  lxl_debian etcd
# docker exec etcd_2 /bin/bash -c "ps -ef | grep etc | grep -v grep"

{%- endmacro -%}


