# machine Machine
# mongodb_cluster MongoServerCluster
# mongodb MongoDbServer
# zone Zone

{% import 'common/ssh_help.py.j2' as ssh_help %}
{% import 'common/docker_help.py.j2' as docker_help %}
{% import 'common/mongo_help.py.j2' as mongo_help %}


{%- include "common/common_head.py.j2" %}

{% set ssh_client = "ssh_client" %}
{{ ssh_help.invoke_shell(ssh_client, mongodb.locate_machine) }}

paramiko_ssh_cmd({{ssh_client}}, [
    "docker container kill {{ mongodb.name }}",
    "docker container prune -f",
])