
## machine Machine
{% macro invoke_shell (ssh_client_name, machine) -%}
{{ssh_client_name}} = None
with IndentFlag():
    {{ssh_client_name}} = paramiko.SSHClient()
    {{ssh_client_name}}.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    {{ssh_client_name}}.connect(hostname="{{machine.ip}}", port="{{machine.ssh_port}}", username="{{machine.ssh_user}}", \
        pkey=paramiko.RSAKey.from_private_key_file(r"{{machine.private_key_file}}", "{{machine.ssh_pwd}}"))
{%- endmacro -%}


