# machine Machine
# etcd_cluster EtcdServerCluster
# etcd EtcdServer

{% import 'common/ssh_help.py.j2' as ssh_help %}
{% import 'common/docker_help.py.j2' as docker_help %}
{% import 'common/etcd_help.py.j2' as etcd_help %}

{%- include "common/common_head.py.j2" %}
{%- set ssh_client = "ssh_client" %}
{{ ssh_help.invoke_shell(ssh_client, etcd.locate_machine) }}


{{ docker_help.kill_container(ssh_client, etcd.name) }}

{% set run_cmd = [ docker_help.cmd_mkdir_volume_used(etcd.db_path),  ] %}
{{ docker_help.exec_cmds(ssh_client, etcd.image, run_cmd, network=etcd.docker_ip.docker_net, volumes=zone.fo_used_volume_map.values()) }}

{% set run_cmd = etcd_help.start_cmd(etcd_cluster, etcd) %}
{{ docker_help.run_container(ssh_client, etcd.name, etcd.image, run_cmd, opt="-d", volumes=zone.fo_used_volume_map.values(), network=etcd.docker_ip.docker_net, net_used=etcd.docker_ip) }}


