# machine Machine
# etcd_cluster EtcdServerCluster
# etcd EtcdServer

{%- import 'common/ssh_help.py.j2' as ssh_help %}
{%- import 'common/docker_help.py.j2' as docker_help %}
{%- import 'common/etcd_help.py.j2' as etcd_help %}

{%- include "common/common_head.py.j2" %}

{% set ssh_client = "ssh_client" %}
{{ ssh_help.invoke_shell(ssh_client, etcd.locate_machine) }}

paramiko_ssh_cmd({{ssh_client}}, [
    "docker container kill {{ etcd.name }}",
    "docker container prune -f",
])