# machine Machine
# mongo_cluster MongoServerCluster
# mongos MongosServer
# zone Zone

{% import 'common/ssh_help.py.j2' as ssh_help %}
{% import 'common/docker_help.py.j2' as docker_help %}
{% import 'common/mongo_help.py.j2' as mongo_help %}

{%- include "common/common_head.py.j2" %}
{%- set ssh_client = "ssh_client" %}
{{ ssh_help.invoke_shell(ssh_client, mongos.locate_machine) }}


{{ docker_help.kill_container(ssh_client, mongos.name) }}

{% set run_cmd = [
    docker_help.cmd_mkdir_volume_used(mongos.log_path, True),
] %}
{{ docker_help.exec_cmds(ssh_client, mongos.image, run_cmd, network=mongos.docker_ip.docker_net, volumes=zone.fo_used_volume_map.values()) }}

{% set run_cmd = mongo_help.mongos_start_cmd(mongo_cluster, mongos) %}
{{ docker_help.run_container(ssh_client, mongos.name, mongos.image, run_cmd, opt="-d", volumes=zone.fo_used_volume_map.values(), network=mongos.docker_ip.docker_net, net_used=mongos.docker_ip) }}


